<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	*{
		padding: 0;
		margin: 0;

	}

	html{
		margin: -1%  -0.001% -1% -1%;
		padding: ;
	}
	
	body{
		top: 0;
		margin: 0px;
		padding: 0px;
		margin-top: 0;
		margin-bottom: 0;
		font-family: 'Roboto', sans-serif;
		color: #fff;
		background-size: cover;
		background-image: url(../layding/img/bgc.png\style);

	}
	h1,h2,h3,h4,h5,h6{
		color: #fff;

	}

	h2,h3,h4,h5,h6{
		font-size: 28px;
	}
	p{
			color: var(--white, #FFF);
	opacity: 0.5;
	font-size: 16px;
	}

  

	header{
      width: 100%;
      height: 750px;
      background-image:  url(../layding/img/abstract-uv-ultraviolet-light-composition.jpg);
      background-size: cover;
      color: #fff;
      background-attachment: fixed;
		left: 0px;
		top: 0px;
		z-index: 0;
	}

	@media (max-width:1601px ) and (min-width:1300px) {
header{
height: 750px;
}
}

@media (max-width:1062px ) and (min-width:999px) {
header{
height: 550px;
}
}

@media (max-width:999px ) and (min-width:825px) {
header{
height: 550px;
}
}



	header .span {
		width: 40px;
		height: 40px;
		margin-left: 4%;
		margin-top: ;
	/* Vector */

position: absolute;
border-radius: 20px;


/* grad1 */
background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
links{
	
	margin-left: 28%;
}

@media (max-width:1601px ) and (min-width:1300px) {
links{
margin-left: 25%;
}
}

@media (max-width:1331px ) and (min-width:1062px) {
links{
margin-left: 15%;
}
}

@media (max-width:1062px ) and (min-width:999px) {
links{
margin-left: 12%;
}
}

@media (max-width:999px ) and (min-width:825px) {
links{
margin-left: 10%;
}
}

links, a{
	padding-top: 65%;
  padding-right: 3%;
   text-decoration:none;
  

  

/* identical to box height, or 24px */

text-align: center;

/* white */

color: #FFFFFF;
}

@media (max-width:999px ) and (min-width:825px) {
links, a{
padding-top: 65%;
  padding-right: 1%;
}
}
registration{
	padding-top: 10px;
	margin-left: 10%;
	margin-right: 1%;
}

@media (max-width:1622px ) and (min-width:1351px) {
registration{
margin-left: 5%;
}
}

@media (max-width:1351px ) and (min-width:1062px) {
registration{
margin-left: 2%;
}
}

@media (max-width:1062px ) and (min-width:999px) {
registration{
margin-left: 1%;
}
}

@media (max-width:999px ) and (min-width:825px) {
registration{
margin-left: 12px;
}
}

registration .button{
background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
padding: 5px 1% 5px 1%;
	border-radius: 50px;
} 

heading  {
	width: 100%;
	height: 555px;
	top: 0;
	margin: 0;
	padding: 0;
	
}
.head {
	width: 40%;
	margin: 11% 15% 2% 16%;
}

@media (max-width:1601px ) and (min-width:1300px) {
.head{
margin:15% 15% 2% 16%;
}
}

@media (max-width:1331px ) and (min-width:1062px) {
.head{
margin:21% 15% 2% 16%;
}
}

.head h1{
	font-style: normal;
font-weight: 700;
/* or 90px */


/* white */

color: #FFFFFF;
}
.namber{
	width: 40%;
	height: 333px;
	margin-left: 14%;
}

.timer{
	margin-left: 2%;
}

.timer__items {
  display: flex;
  font-size: 48px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 2%;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}



.course{
	width: 100%;
	height: 230px;
	left: 0px;
top: 830px;
background-image: url(../layding/img/09762af2dfa39fe06960ff5330fd0265.gif);
background-size: cover;

}


.course1{
	width: 10%;
    
  margin: 5% 10% 5% 16%;
}

@media (max-width:1309px ) and (min-width:1100px) {
 .course1{
width:20%;
 margin: 7% 10% 5% 16%;
}
}

@media (max-width:1099px ) and (min-width:999px) {
 .course1{
width:20%;
 margin: 8% 10% 5% 16%;
}
}

@media (max-width:999px ) and (min-width:799px) {
 .course1{
width:20%;
 margin: 9% 10% 5% 16%;
}
}

@media (max-width:799px ) and (min-width:599px) {
 .course1{
width:20%;
 margin: 10% 10% 5% 16%;
}
}

.cours{
	border-radius: 50px;
	background:  linear-gradient(141deg, #DF5950 0%, #451046 100%);
	padding: 3% 10% 3% 10%;
}

@media (max-width:1460px ) and (min-width:1300px) {
 .cours{
width: 
}
}

.participants{
	width: 20%;
	margin: 2% 3% 2% 3% ;
}



.finished{
   width: 100%;
   margin-top: 10%;
}

@media (max-width:1460px ) and (min-width:1300px) {
.finished{
width: 345px;
}
}

@media (max-width:1076px ) and (min-width:600px) {
.finished{
width: 245px;
}
}

.analytics{
	width: 10%;
	margin: 2% 5% 2% 5%;
}

.content{
	width: 100%;
	height: 80%;
	top: 0;
	padding: 0;
	margin: 0;
}

.matter{
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
}

@media (max-width:1055px ) and (min-width:999px) {
.matter{
width: 100%;
}
}

.img_matter{
	width: 40%;
	height: 40%;
}

@media (max-width:1100px ) and (min-width:771px) {
.img_matter{
width: 40%;
	height: 40%;

	float: left;
}
}

.span_matter{
	width: 400px;
     height: 400px;
     background-color: #C89AFC;
       border-radius: 30%;
}

@media (max-width:1100px ) and (min-width:771px) {
.subject_matter{
width: 40%;
	height: 40%;
	margin-left: 12%;
	float: left;
}
}

@media (max-width:831px ) and (min-width:769px) {
.subject_matter{
width: 40%;
	height: 40%;
	margin-left: 15%;
	float: left;
}
}






.subject_matter{
	width:40% ;
	height: 40%;
	
}

.subject_matter h3{
	margin-bottom: 3%;
}

.start{
	width: 100%;
	margin-top:2% ;
	margin-bottom:2% ;
	text-align: center;
}

.start h3{
	margin-bottom: 2%;
}

.skills{
width: 100%;
margin-bottom: 2%;
}

.skil{
	width: 20%;
}

.skil p{
	color: var(--white, #FFF);
	padding-left: 2%;
	opacity: 0.5;
}

@media (max-width:1626px ) and (min-width:314px) {
.skil p{
font-size: 12px;
}
}

.skil h3{
	padding-left: 3%;
}

.span_skil{
	width: 100%;
	height: 80px;
	margin-top: 4%;
	margin-bottom: 4%;
	background: var(--grad-2, linear-gradient(142deg, #C89AFC 0%, #7C6AFA 100%));

}

.span_skil2{
	width: 100%;
	height: 60px;
	margin-top: 4%;
	margin-bottom: 4%;
	background: var(--grad-2, linear-gradient(142deg, #C89AFC 0%, #7C6AFA 100%));

}

.span_skil3{
	width: 100%;
	height: 30px;
	margin-top: 4%;
	margin-bottom: 4%;
	background: var(--grad-2, linear-gradient(142deg, #C89AFC 0%, #7C6AFA 100%));

}

.span_skil4{
	width: 100%;
	height: 10px;
	margin-top: 4%;
	margin-bottom: 4%;
	background: var(--grad-2, linear-gradient(142deg, #C89AFC 0%, #7C6AFA 100%));

}

.prof{
	width: 100%;

}

.heading_prof{
	padding-bottom: 2%;
	text-align: center;
}

.rov_prof img {
	margin-bottom: 5%;
}

.rov_prof h5 {
	margin-bottom: 5%;
}

.partners{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.heading_partners{
	width: 100%;
	text-align: center;
}

.rov_partners{
	margin-left: 4%;
}

.training{
	width: 100%;
}

.heading_training {

	text-align: center;
}

.heading_training img{
	margin-bottom: 2%;
}

.heading_training h2{
	margin-bottom: 2%;
}

.carousel_training{
	width: 100%;
	
	margin-top: 2%;
	margin-bottom: 2%;
}

.text_item {
	position: absolute;
	color: #fff;

}

.inn_training{
	width: 100%;
	height: 400px;
}

.text_item{
	width: 30%;
	margin: 6% 7% 6% 25%;
}

.teachers{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.heading_teachers{
	width: 100%;
	text-align: center;
}

.rov_teachers{

	margin-right: 3%;
	margin-left: 3%;
}

.rov_teachers img{
	margin-bottom: 3%;
}

.rov_teachers h3{
	margin-bottom: 3%;
}

.rov_teachers p{
	margin-bottom: 3%;
}

.rov_teachers button{
	margin-bottom: 3%;
	border-radius: 50px;
}
button{
	color: #fff;
}

.footer{
	width: 100%;
	padding-top: 3%;
	padding-bottom: 2%;


}

.articles{
	width: 100%;
	text-align: center;
}
.articles h2{
	margin-bottom: 1%;
}

.search{
	width: 100%;
	margin-top: 2%;
		margin-bottom: 2%;
	text-align: center;
}

input::-webkit-input-placeholder {
  color: #fff; 
  font-style: italic; 
}
input:-moz-placeholder {
  color: #fff; 
  font-style: italic; 
  background: #fff;
}
input:-ms-input-placeholder {
  color: #fff; 
  font-style: italic; 
  background: #fff;
}
input {
  border-radius: 50px;
  padding: 5px 4% 5px 4%;
}

.form_search{
	color: #fff;
	background-color: #000;
}
 button{
	padding: 5px 1% 5px 1%;
	border-radius: 50px;
	background: var(--grad-1, linear-gradient(141deg, #DF5950 0%, #451046 100%));
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 
rgba(0,0,0,0.15), inset 0 0 50px 
rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.youtube a:hover {background: 
#c4302b; color: 
#fff; margin-left: 2%;}

.vk a:hover {background: 
#5d84ae; margin-left: 2%; color: 
#fff;}

.facebook a:hover {background: 
#3b5998; margin-left: 2%; color: 
#fff;}

.instagram a:hover {background: 
#3f729b; margin-left: 2%; color: 
#fff;}

.social_networks_text{
	width: 100%;
	text-align: center;
}





</style>